<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>Registrar usuário</h2>

<form th:action="@{/register}" th:object="${usuario}" method="post">

    <input type="text" th:field="*{nome}" placeholder="Nome"/>

    <input type="text" th:field="*{username}" placeholder="Username"/>

    <input type="email" th:field="*{email}" placeholder="Email"/>

    <input type="password" th:field="*{password}" placeholder="Senha"/>

    <button type="submit">Registrar</button>

</form>

</body>
</html>