/* página */
.login-page{
  height:100vh;
  display:flex;
  flex-direction:column;
  background-color: #fff8e0;
}

/* layout dividido */
.login-layout{
  flex:1;
  display:flex;
}

/* lado da imagem */
.login-image{
  flex:1;
  background:url("/login-image.jpg");
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
}

.login-image img{
  width:100%;
  height:100%;
  object-fit:cover;
}


/* lado do formulário */
.login-form-area{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#fff8e0;
}

/* bloco rosa */
.login-box{
  width:340px;
  padding:40px;
  border-radius:16px;

  background:#ffe4ea;
  border:2px dashed #f5a3b5;

  display:flex;
  flex-direction:column;
  align-items:center;
}

/* inputs */
.login-box input{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border-radius:8px;
  border:1px solid #ddd;
  box-sizing:border-box;
}

/* botão */
.login-box button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#5ec0d4;
  color:#ffffff;
  font-weight:bold;
  cursor:pointer;
  box-sizing:border-box;
}

.login-box button:hover{
  background:#4aa7bb;
}

.login-register{
  margin-top:15px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background:#ffffff;
}

/* centraliza tudo */
.login-center{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* card principal */
.login-card{
  display:flex;
  width:800px;
  height:420px;

  border-radius:18px;
  overflow:hidden;
  backdrop-filter: blur(10px);

  background:white;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* lado da imagem */
.login-card-image{
  flex:1;
  background:url("/login-image.jpeg");
}

.login-card-image img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* lado do form */
.login-card-form{
  flex:1;
  padding:40px;

  display:flex;
  flex-direction:column;
  justify-content:center;

  background:#ffe4ea;
}

/* inputs */
.login-card-form input{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border-radius:8px;
  border:1px solid #ddd;
  box-sizing:border-box;
}

/* botão */
.login-card-form button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;

  background:#5ec0d4;
  color:white;
  font-weight:bold;

  cursor:pointer;
}

.login-card-form button:hover{
  background:#4aa7bb;
}

.btn-voltar{
  background:#5ec0d4;
  color:white;
  border:none;
  padding:8px 16px;
  border-radius:20px;
  font-weight:600;
  cursor:pointer;
  transition:0.2s;
}

.btn-voltar:hover{
  background:#4aa7bb;
}